<!DOCTYPE HTML>
<html>
<head>
    <title>SpringBoot</title>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8" />
</head>
<body>
    <h1>SpringBoot Web Start</h1>
</body>
</html>
